.bookCoverContainer {
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #00008b; 
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

.paragraph {
  font-size: 1.1rem;
  margin: 1.5rem auto;
  max-width: 800px;
}