.infoSection {
  padding: 4rem 0;
}

.infoCard {
  text-align: center;
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--ifm-card-background-color);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  height: 100%;
}

.icon {
  height: 50px;
  width: 50px;
  color:blue;
  text-shadow: 0 10px 6px rgba(255, 252, 252, 0.938);
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 1rem;
}

.propertyList {
  list-style: none;
  padding: 0;
  text-align: center;
}

.propertyList li {
  margin-bottom: 0.5rem;
}

.infoCardLink,
.infoCardLink:hover {
  color: inherit;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
  padding: 12px 0;
  animation: fadeIn 0.3s;
  left: 50%;
  transform: translateX(-50%);
  max-height: 200px;
  overflow-y: auto;
}

.dropdownContent.show {
  display: block;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -10px); }
  to { opacity: 1; transform: translate(-50%, 0); }
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownContent a:hover {
  background-color: #ddd;
}